.footer {
  width: 100%;
  background-color: rgb(207, 250, 255);
  color: rgb(1, 40, 91);
  text-align: center;
  margin-top: auto;
}

/* Footer inner styling */
.footer-bottom {
  /* border-top: 1px solid rgb(1, 40, 91); */
  padding: 1.5rem 20px;
  font-size: 1rem;
}

.footer-bottom a {
  color: rgb(1, 40, 91);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-bottom a:hover {
  color: rgb(4, 99, 225);
  text-decoration: underline;
}
