/* About */

.about-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
  padding: 20px;
  min-height: 100vh;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.about-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.about-text {
  flex: 1;
  padding: 3%;
}

.about-name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(1, 40, 91);
}

.about-title {
  margin-bottom: 10px;
  color: rgb(1, 40, 91);
  font-size: 1.2rem;
}

.about-description {
  font-size: 1rem;
  line-height: 1.6;
  color: rgb(102, 128, 162);
}

.social-icons {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 30px;
}

.social-icons img {
  width: 35px;
  height: 35px;
}

.social-icons a {
  /* color: rgb(1, 40, 91); */
  margin: 0 6px;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
  color: rgb(3, 85, 193);
}


.resume-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(1, 40, 91);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid rgb(1, 40, 91);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.resume-button:hover {
  background-color: transparent;
  border: 2px solid rgb(1, 40, 91);
  color: rgb(1, 40, 91);
  text-decoration: none;
}

/* Image container */
.about-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-wrapper {
  width: 400px;
  height: 400px;
  background-color: rgb(158, 231, 244);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

/* Responsive design */
@media (max-width: 910px) {
  .about-section {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 100px;
  }

  .about-text {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .social-icons {
    justify-content: center;
  }

  .about-image-container {
    justify-content: center;
    margin-top: -30px;
  }
}

@media (max-width: 480px) {
  .profile-image-wrapper {
    width: 250px;
    height: 250px;
  }

  .social-icons img {
    width: 30px;
    height: 30px;
  }

}




/* What I Do */
.whatIDoContainer {
  width: 100%;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionHeading h1 {
  font-size: 2.5rem;
  color: rgb(1, 40, 91);
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 70px;
  width: 100%;
  /* max-width: 1200px; */
  gap: 30px;
  /* border: 2px solid blue; */
  overflow: hidden;
}

.imageBox {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageBox img {
  max-width: 100%;
  height: auto;
}

.sectionDetails {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.sectionDetails h2 {
  color: rgb(1, 40, 91);
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.iconGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  margin-bottom: 30px;
}

.iconGrid img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.description p {
  font-size: 1rem;
  color: rgb(102, 128, 162);
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 910px) {
  .section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .imageBox,
  .sectionDetails {
    width: 100%;
  }

  .iconGrid {
    justify-content: center;
  }

  .description {
    text-align: left;
  }
}

@media (max-width: 480px) {
  .sectionHeading h1 {
    font-size: 2rem;
  }

  .iconGrid img {
    width: 30px;
    height: 30px;
  }

  .sectionDetails h2 {
    font-size: 1.4rem;
  }
}